<!DOCTYPE html>
<html>
<head>
    <title>About Check-In Emails</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/email_action.css"/>
</head>
<body>
<div class="content-container">
    <div class="content-wrapper">
        <h2>The Check In app is currently not available</h2>
        <p>Unfortunately this app is still under beta testing. This page is a temporary rendering which is not intended for the user. If you are seeing this page, please contact burnscoding@gmail.com</p>
    </div>
</div>
</body>
</html>